<h1>Alumnos</h1>

<div class="pull-right create-button" >
    Inscribir
    <a ng-click="add()" class="btn btn-info">
        <i class="fa fa-plus"></i>
    </a>
</div>
<div> Docente: {{ curso.docente }}</div>
<div> Horario: {{ curso.horario }}</div>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>ID inscripcion</th>
            <th>Padron</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in inscriptos">
            <td>
                <span>{{ model.id }}</span>
            </td>
            <td>
                <span>{{ model.alumno.padron }}</span>
            </td>
            <td>
                <span>{{ model.alumno.apellido }}, {{ model.alumno.nombres }}</span>
            </td>
            <td>
                <a class="btn btn-danger" ng-click="destroy(model)">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>